<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Python Code Complete</title>
  <meta name="description" content="Python Code Complete">
  <meta name="kevin" content="Python Code Complete">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}">  
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}">  
  </script>

  <!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.atwho.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple.css') }}">

  

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.caret.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.atwho.js') }}"></script>
  -->

</head>

<body>
  <div class="container">

    <h1>Python Code Complete</h1>


    <div>
      <textarea id="code-input" class="code-input">Enter code here :)</textarea>
    </div>
    



    <div class="row">
      <p><span id="solution1"></span></p>
      <p><span id="solution2"></span></p>
      <p><span id="solution3"></span></p>
      <p><span id="solution4"></span></p>
    </div>

  </div>
</body>

</html>